[user]
	name = Niro
	email = nirodhiko@outlook.com
[core]
  editor = nano
[init]
  defaultBranch = main
[pull]
  rebase = true
[color]
  ui = auto
[http]
  sslverify = false
; [credential]
  ; helper = gopass
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
